*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Constantia;
}
/*TAG*/

/*CLASS*/
.colorFade{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: aqua;
    background: linear-gradient(130deg, rgb(24, 87, 150) ,rgb(60, 36, 80) , rgb(20, 30, 50) , rgb(68, 36, 136));
    background-size: 400% 400%;
    animation: colorFade 10s ease-in-out infinite;
}
.logo{
    color: rgba(255, 255, 255, 0.514);
    border: solid 1px #ffffff81;
    box-shadow: rgb(255, 255, 255) 0px 0px 6px;
    padding: 2% 5% 2% 5%;
    font-size: 1.4em;
    
}
/*ID*/


/*Animation*/
@keyframes colorFade { 
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}